.container-1 {
    -fx-background-color:rgba(179, 77, 77, 1);
}

.container-2 {
    -fx-background-color:rgba(187, 121, 97, 1);
}

.container-3 {
    -fx-background-color:rgba(178, 179, 77, 1);
}

.container-4 {
    -fx-background-color:rgba(179, 77, 178, 1);
}

.container-5 {
    -fx-background-color:rgba(77, 179, 77, 1);
}

.container-6 {
    -fx-background-color:rgba(77, 77, 179, 1);
}

.container-7 {
    -fx-background-color:rgba(90, 90, 38, 1);
}

.container-8 {
    -fx-background-color:rgba(90, 38, 38, 1);
}

.container-9 {
    -fx-background-color:rgba(12,128,0, 1);
}

.container-10 {
    -fx-background-color:rgba(43, 90, 38, 1);
}

.container-11 {
    -fx-background-color:rgba(84, 80, 76, 1);
}

.container-12 {
    -fx-background-color:rgba(128,128,128, 1);
}

.container-13 {
    -fx-background-color:rgba(145, 145, 125, 1);
}

.container-14 {
    -fx-background-color:rgba(36, 40, 84, 1);
}

.container-15 {
    -fx-background-color:rgba(36, 36, 72, 1);
}

.container-16 {
    -fx-background-color:rgba(228, 216, 212, 1);
}

.container-17 {
    -fx-background-color:rgba(165, 165, 213, 1);
}

.container-18 {
    -fx-background-color:rgba(130, 83, 179, 1);
}

.container-19 {
    -fx-background-color:rgba(126, 175, 75, 1);
}

.container-20 {
    -fx-background-color:rgba(60, 140, 100, 1);
}

.container-21 {
    -fx-background-color:rgba(141, 130, 170, 1);
}

.container-22 {
    -fx-background-color:rgba(90, 184, 118, 1);
}

.container-23 {
    -fx-background-color:rgba(90, 70, 38, 1);
}

.container-24 {
    -fx-background-color:rgba(128,78,0,1);
}

.container-25 {
    -fx-background-color:rgba(131, 151, 202, 1);
}

